<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍍</text></svg>">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.scss" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap" rel="stylesheet">
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer style="margin-top: 4em; padding-top: 2em; border-top: 1px solid #e0e0e0; font-size: 0.9em; color: #777;">
        <p><strong>Disclaimer:</strong> Hi 👋 , I'm 🍍. The information and opinions presented on this website are solely my  <a href="https://github.com/pinalikefruit/">own</a>. This project is for educational purposes. Data is aggregated and inspired by the work done by  <a href="https://blockthreat.io">BlockThreat</a>.</p>
        <p>This is an open-source project. Contributions and corrections are welcome on <a href="https://github.com/pinalikefruit/pinalikefruit.github.io">GitHub</a>.</p>
      </footer>
    </div>

    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const tabs = document.querySelectorAll('.tab-nav li');
        const tabContents = document.querySelectorAll('.tab-content');

        tabs.forEach(tab => {
          tab.addEventListener('click', () => {
            // Get the target tab ID from the data-tab attribute
            const targetId = 'tab-' + tab.getAttribute('data-tab');

            // Remove 'active' class from all tabs and content
            tabs.forEach(t => t.classList.remove('active'));
            tabContents.forEach(c => c.classList.remove('active'));

            // Add 'active' class to the clicked tab and its corresponding content
            tab.classList.add('active');
            document.getElementById(targetId).classList.add('active');
          });
        });
      });
    </script>
  </body>
</html>
